.profile-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    max-width: 100%;
    border-radius: 50%;
    margin-left: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-handle {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, bold, sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #000000;
}